* {
	box-sizing: border-box;
}

body {
	background: #032556;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	*display: flex;
	align-items: center;
}

img {
	width: 600px;
	height: 100px;
	margin-bottom: 0px;
	object-fit: cover;
	opacity: 100%;
	filter: brightness(80%);
	transition: all 1000ms;
}

img:hover{
	filter: brightness(55%);
	transition: all 1000ms;
}

.menu {
	max-width: 1200px;
	margin: auto;
}

.noticias-konecta{
	padding-left: 150px;
	font-size: 28px;
	text-shadow: #000 3px 3px 5px;
	height: 25px;
}

.contenido-principal__imagen {
	width: 100%;
	height: 350px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 100%;
	margin: auto;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.carousel__elemento {
	text-align:left;
	position: relative;
}

.carousel__elemento:hover .texto__carousel{
	opacity: 100%;
	color:#fff;
	font-weight: bold;
	transition: all 500ms;
	background: none;
	text-shadow: #000 1px 1px 5px;
}

.texto__carousel{
	position: absolute;
	top: 50px;
	left: 50px;
	*bottom: 5px;
	right: 5px;
	font-weight: bold;
	opacity: 95%;
	transition: all 500ms;
	text-shadow: #000 1px 1px 5px;
	display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
	padding-bottom: 0px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.contenedor {
	max-width: 1200px;
	width: 95%;
	margin: auto;
}

.imagen-principal {
	position: relative;
	width: 100%;
}

.contenido-principal {
	*margin-bottom: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 100%;
	max-width: 100%;
	filter: brightness(45%);
}

.contenido-principal__contenedor {
	width: 100%;
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-right: 100px;
	text-shadow: #000 1px 1px 5px;
	display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
	padding-bottom: 1px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
	font-style: italic;
	padding-right: 100px;
	text-shadow: #000 1px 1px 5px;
	display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


.resumen-1{
	display: none;
}
.resumen-2{
	display: none;
}
.resumen-3{
	display: none;
}
.resumen-4{
	display: none;
}
.resumen-5{
	display: none;
}
.resumen-6{
	display: none;
}
.resumen-8{
	display: none;
}
.resumen-7{
	display: none;
}






.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #032556, #3a5a89);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav h1{
    color: #fff;
    font-family: 'Gagalin';
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: block;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
